
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-product">
    <div>
      <h2><%= @listing.title%></h2>
      <p><strong>Address:</strong> <%= @listing.address %></p>
      <p><strong>Description:</strong> <%= @listing.description %></p>
      <p><strong>Capacity:</strong> <%= @listing.listing_capacity %> guests</p>
      <p><strong>Price per night:</strong> AUD $ <%= @listing.price_per_night %></p>
      <p><strong>Owner:</strong> <%= @listing.user.name %></p>

    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
 <%= link_to 'Book Now', new_listing_booking_path(@listing.id), class: 'btn btn-outline-secondary' %>
 <%= link_to "Go Back", listings_path(@listing), class: "btn btn-outline-secondary mx-2" %>
  


