<div class="description d-flex flex-row justify-content-between">
  <div class="p-5 d-flex flex-column justify-content-center">
    <h1 class="pb-4"><%= @listing.title %></h1>
    <p><strong>Address:</strong> <%= @listing.address %></p>
    <p><strong>Description:</strong> <%= @listing.description %></p>
    <p><strong>Capacity:</strong> <%= @listing.listing_capacity %> guests</p>
    <p><strong>Owner:</strong> <%= @listing.user.name %></p>
    <p><strong>Price per night:</strong> AUD <%= @listing.price_per_night %></p>
    <div class="p-2">
      <%= link_to 'Book Now', new_listing_booking_path(@listing.id), class: 'btn btn-outline-secondary' %>
      <%= link_to "Go Back", listings_path(@listing), class: 'btn btn-link text-decoration-none' %>
    </div>

  </div>
  <div>
    <img src="https://a0.muscache.com/im/pictures/8da31ffa-daa8-4e7d-aa9b-1d81ef99369d.jpg?im_w=720" class="img" alt="barn">
  </div>
</div>
