<h1>Booking Page</h1>
<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :check_in_date_utc %>
  <%= f.input :check_out_date_utc %>
  <%= f.input :number_of_people %>
  <%= f.button :submit %>
<% end %>

 <p> AUD <%= @days.to_i * @listing.price_per_night %></P>
<%= @user %>
