<h3>You've successfully placed a booking. Here are the details:</h3>
<p>Your stay: <%= @booking.listing.title %></p>
<p>Number of people: <%= @booking.number_of_people %></p>
<p>Total price: AUD <%= @booking.total_price %></p>
<p>Check-in date: <%= @booking.check_in_date_utc %></p>
<p>Check-out date: <%= @booking.check_out_date_utc %></p>
<p>Booked by: <%= @booking.user.name %></p>



<%= link_to "Home Page", listings_path(@booking), class: "btn btn-outline-secondary mx-2" %>
<%= link_to "Bookings Page", bookings_path(@booking), class: "btn btn-outline-secondary mx-2 btn" %>
